# Version control
.git
.gitignore

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Build files
tmp
build
dist

# Environment files
.env
.env.*

# Documentation
README.md
docs
*.md

# Debug files
debug
*.log

# Test files
*_test.go
coverage.out

# Docker files
Dockerfile
.dockerignore

# Air temporary files
tmp 